/*  your css code here. If applicable */
.book-library{
	text-align:center;
	background-color: #f8f8f8 ;
	
}
.book{
	background-color:rgb(255, 255, 255) ;
	align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	}
.price-block{
	background-color:#2ecc71 ;
	text-align:center;


}
.author{
	color: #777777;
	text-align:left;
}
.library{
	text-align:left;
}
